@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

/*body {*/
    /*background: #F0F0F0;*/
/*}*/

header img {
    width: 105px;
    height: 105px;
}

.redish {
    background: #E6563B;
}

.orangish {
    background: #EB9D3A;
}

.greenish {
    background: #7CB06C;
}

.blueish {
    background: #00ABA9;
}

.fofo {
    background: #F0F0F0;
}

.darkfofo {
    background: #e6e6e6;
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;

}

