@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

/*body {*/
/*background: #F0F0F0;*/
/*}*/

/*header img {*/
/*width: 50px;*/
/*height: 50px;*/
/*}*/

.redish {
    background: #E6563B;
}

.orangish {
    background: #EB9D3A;
}

.greenish {
    background: #7CB06C;
}

.blueish {
    background: #00ABA9;
}

.fofo {
    background: #F0F0F0;
}

.darkfofo {
    background: #e6e6e6;
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;

}
.circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    line-height: 105px;
    font-size: 1.5em;
    color: #FFF;
    font-weight: regular;
    border: solid white 8px;
    font-family: Anton, sans-serif;
    margin-top: 15px;


}
.red-circle {
    background-color: #E6563B;
    margin-left: 40px;

}
.orange-circle {
    background-color: #EB9D3A;
    margin-right: 40px;

}
.green-circle {
    background-color: #7CB06C;
    margin-left: 40px;

}
.blue-circle {
    background-color: #00ABA9;
    margin-right: 40px;

}


.button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


/*TEST*/
.px-18 {
    width: 18px;
    height: 18px;
}

.block-test {
    /*border: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}
.circle-test {
    background: red;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    /*margin: 20px auto;*/
    border: 10px solid black
}
.circle-test p {
    vertical-align: middle;
    display: table-cell;
}
.logo {
    border-radius: 50%;
    position: relative;
    top: -20px;

}
.logo-bg {
    height: 60px;
    margin-top: 25px;
}