@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

/*body {*/
/*background: #F0F0F0;*/
/*}*/

/*header img {*/
/*width: 50px;*/
/*height: 50px;*/
/*}*/

.redish {
    background: #E6563B;
}

.orangish {
    background: #EB9D3A;
}

.greenish {
    background: #7CB06C;
}

.blueish {
    background: #00ABA9;
}

.fofo {
    background: #F0F0F0;
}

.darkfofo {
    background: #e6e6e6;
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    line-height: 105px;
    font-size: 1.5em;
    color: #FFF;
    font-weight: normal;
    border: solid white 8px;
    font-family: Anton, sans-serif;

}

.red-circle {
    background-color: #E6563B;
    margin-left: 40px;
    margin-top: 15px;
}
.orange-circle {
    background-color: #EB9D3A;
    margin-right: 40px;
    margin-top: 15px;
}
.green-circle {
    background-color: #7CB06C;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 70px;
}
.blue-circle {
    background-color: #00ABA9;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 70px;
}

/*-- Small circles --*/
.red-small-circle {
    background-color: #E6563B;

}
.orange-small-circle {
    background-color: #EB9D3A;
}
.green-small-circle {
    background-color: #7CB06C;
}
.blue-small-circle {
    background-color: #00ABA9;
}

.small-circle {
    min-height: 18px;
    max-width: 18px;
    border-radius: 50%;
    line-height: 40px;
    color: #000;
    font-family: Anton, sans-serif;
}

/*.px-18 {*/
    /*width: 18px;*/
    /*height: 18px;*/
/*}*/

/*.block-test {*/
    /*!*border: 1px solid red;*!*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

/*.circle-test p {*/
    /*vertical-align: middle;*/
    /*display: table-cell;*/
/*}*/



.logo {
    border-radius: 50%;
    position: relative;
    top: -20px;
}

.logo-bg {
    height: 60px;
    margin-top: 25px;
}

.px-18 {
    height: 18px

}


@media (max-width: 576px) {

    hr {
        display: none;
    }

}





@media screen and (min-width:776px) {
    .logo-bg {
        height: 60px;
        margin-top: 25px;
    }

    .circle {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        line-height: 105px;
        font-size: 1.5em;
        color: #FFF;
        font-weight: normal;
        border: solid white 8px;
        font-family: Anton, sans-serif;
    }

    .red-circle {
        background-color: #E6563B;
        margin-left: 35px;
        margin-right: 10px;

    }
    .orange-circle {
        background-color: #EB9D3A;
        margin-leftt: 0px;
        margin-right: 10px;

    }
    .green-circle {
        background-color: #7CB06C;
        margin-left: 0px;
        margin-right: 10px;

    }
    .blue-circle {
        background-color: #00ABA9;
        margin-left: 0px;

    }
    .picture-cont {
        margin-top: 20px;
        height: 300px;
        margin-left: 10px;
        padding: 0px;
    }
    .jpegs {
        height: 220px;
        width: 300px;
        padding: 0px;
        margin-left: 25px;
        margin-top: 45px;
    }
    .one-featured {
        position: relative;
        top: -265px;
        right: -25px;
    }
    .two-featured {
        position: relative;
        top: -306px;
        right: -355px;
    }
    .three-featured {
        position: relative;
        top: -80px;
        right: -25px;
    }
    .four-featured {
        position: relative;
        top: -120px;
        right: -354px;
    }

}


@media screen and (min-width:992px) {

}

